html {
  height: 100%
}

body{
     background-color: #01031c; 
    /* background: linear-gradient(to bottom, #01031c, #070a30); */
    color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .content {
  flex: 1 1 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1 {
  font-family: sans-serif;
}

#diagram {
    position: relative;
    margin: 0px;
    padding: 10px;
    background-color: #090c26;
    overflow-x: auto;
}

#diagram:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#info-box {
    width: 90%;
    height: 100%;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Lucida Console", Sans-serif;
}

#info-box .notes {
    font-size: 16px;
    margin-bottom: 8px;
}

#info-box table {
    font-size: 18px;
}

#info-box table tr :first-child {
    color: #999;
}

#info-box .timestamp {
    font-size: 8px;
    color: #999;
    font-style: italic;
    margin-top: 5px;
}

.node text {
  font-size: 8px;
  pointer-events: none;
}

.node .node-text {
  fill: white;
  stroke: white;
  stroke-width: 0px;
  font-size: 14px;
  font-weight: normal;
}

path.hull {
  fill: lightsteelblue;
  fill-opacity: 0.3;
}

.config-box {
  font-family: sans-serif;
  padding-left: 10px;
}

.config-box input {
  border-style: none;
  line-height: 22px;
  margin-left: 5px;
  padding-left: 5px;
}

.config-box button {
  border-style: none;
  line-height: 22px;
  margin: 5px;
}

.config-box button:hover {  
  background-color: lightgray;
}

.config-box button:active {  
  background-color: gray;
}