$backgroundColorHighlight: #f35429;
$inputColor: white;

input {
  border-style: none;
  line-height: 22px;
  margin-left: 5px;
  padding-left: 5px;
  &:focus {
    outline-color: $backgroundColorHighlight;
  }
}

// Start Button
button {
  border-style: none;
  line-height: 22px;
  margin: 5px;
  &:focus {
    outline-color: $backgroundColorHighlight;
  }
  &:hover {
    background-color: $backgroundColorHighlight;
    color: $inputColor;
  }
  &:active {
    background-color:darken($backgroundColorHighlight, 20%);
    color: $inputColor;
  }
}
// End Button

// Start Checkbox
input[type="checkbox"] {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: $inputColor;
  }

  // Box hover
  &:hover + label:before {
    background: $backgroundColorHighlight;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: $backgroundColorHighlight;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: $inputColor;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $inputColor,
      4px 0 0 $inputColor,
      4px -2px 0 $inputColor,
      4px -4px 0 $inputColor,
      4px -6px 0 $inputColor,
      4px -8px 0 $inputColor;
    transform: rotate(45deg);
  }
}
// End Checkbox